
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
    height: 100%;
    background: #F9F9F9;
}


input, select, textarea {
    display: block;
    outline: none;
    border: none !important;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5D6D97;
}

/* ------------------------------------ */
.row .cell .tButton {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #4A9DFF;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}
.row .cell .tButton:hover {
    background: #6495ed;
}

.button {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #4A9DFF;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-flex;
    margin-inline: 10px;
    cursor: pointer;
}

.button:hover{
    background: #6495ed;
}

.buttonBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.validateText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #5D6D97;
    margin-bottom: 10px;
}

.rollingRetentionText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #5D6D97;
    margin-bottom: 10px;
}

iframe {
    border: none !important;
}


.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  margin-top: 50px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}


.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #5D6D97;
  background: #ffffff;
}


.cell {
  display: table-cell;
}



.row .cell {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5D6D97;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5D6D97;

    padding-top: 19px;
    padding-bottom: 19px;
}

.row .cell:nth-child(1) {
  width: 160px;
  padding-left: 40px;
}

.row .cell:nth-child(2) {
  width: 160px;
}

.row .cell:nth-child(3) {
  width: 250px;
}

.row .cell:nth-child(4) {
  width: 190px;
}


.table, .row {
  width: 100% !important;
}



